/* Hoja de estilos para los programas de apoyo
1- Extracto de aposyo en inicio
    1.1 Contenedor de sección
    1.2- Carrusel
    1.4- Título del programa
    1.5- Botón nota completa

2- Detalle de la nota
    1.1- Imagen
    1.2- Pié de imagen
    1.3- Contenedor de texto
    1.4- Título de l nota
    1.5- Botón nota completa */


/* 1.1 Contenedor de sección */

.apoyo-home .grid-x {
    max-width: 320px;
    margin: auto;
}

@media (min-width: 768px) {
        .apoyo-home .grid-x {
            max-width: 75rem;
            padding: 0 1rem;
        }
    }

.apoyo-home .grid-x {
    max-width: 320px;
    margin: auto;
}


    @media (min-width: 768px) {
        .apoyo-home .grid-x {
            max-width: 77.5rem;
            margin: 1.5rem auto 2rem;
        }
    }

    .apoyo-home .grid-x .cell:nth-child(1),
    .apoyo-home .grid-x .cell:nth-child(2),
    .apoyo-home .grid-x .cell:nth-child(3) {
        margin-bottom: 2rem;
    }

    @media (min-width: 1024px) {
        .apoyo-home .grid-x .cell:nth-child(1),
        .apoyo-home .grid-x .cell:nth-child(2),
        .apoyo-home .grid-x .cell:nth-child(3) {
            margin-bottom: 0;
        }  
    }

    .apoyo-home .grid-x .cell:nth-child(1) .pleca {
        background-image: url(../../assets/img/bg-greca.jpg);

    }

    .apoyo-home .grid-x .cell:nth-child(2) .pleca {
        background-image: url(../../assets/img/bg-greca-2.jpg);
    }

    .apoyo-home .grid-x .cell:nth-child(3) .pleca {
        background-image: url(../../assets/img/bg-greca-3.jpg);
    }

.apoyo-tsinaka_item {
    max-width: 320px;
    margin: auto;
    padding: 0 0 1.5rem;
}

    @media (min-width: 768px) {
        .apoyo-tsinaka_item {
            max-width: 75rem;
            padding: 0 1rem 1.5rem;
        }
    }

    .apoyo-home .cell {
        cursor: pointer;
        transition: all .4s ease;
    }


.apoyo-home .content-banner {
    padding: 1rem 1rem 2.5rem;
    position: relative;
    transition: all .4s ease;
}


    @media (min-width: 768px) {
        .apoyo-home .content-banner {
            padding: 1.5rem 1.5rem 3.5rem;
        }
    }

    @media (min-width: 1024px) {
        .apoyo-home .content-banner {
            padding: 2.5rem 2.5rem 4.5rem;
            position: relative;
            min-height: 300px;
        }
    }

    .content-banner .title {
        font-size: 1.5rem;
        line-height: 1.7rem;
        font-weight: 700;
    }

    @media (min-width: 768px) {
        .content-banner .title {
            line-height: 1.52rem
        }
    }

.apoyo-home .pleca {
    background-repeat: repeat-x;
    width: 100%;
    height: 1.5rem;
    position: absolute;
    bottom: 0;
    left: 0;
}

    @media (min-width: 1024px) {
        .apoyo-home .pleca {
            height: 2rem;
        }
    }

 
/* 1.5- Botón nota completa*/
.apoyo-home .btn {
    background-color: var(--sec);
    width: 1.7rem;
    height: 1.7rem;
    right: 0;
    top: 0;
    position: absolute;
    text-align: center;
}

.apoyo-home .btn a {
    height: 1.7rem;
    width: 1.7rem;
    display: block;
    padding-top: .1rem;
    transition: all .4s ease;
}

    .apoyo-home .btn a:hover {
        opacity: .5;
    }

    .apoyo-home .btn  i {
        color: white;
    }

.marketing-site-content-section {
	padding: 0 3rem;
	    max-width: 75rem;
    margin: 4rem auto 4rem !important;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.marketing-site-content-section .button.round {
  border-radius: 5000px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.marketing-site-content-section .marketing-site-content-section-img {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
  -webkit-flex: 1 0 100%;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
}

.marketing-site-content-section .marketing-site-content-section-img img {
  width: 100%;
}

@media screen and (min-width: 40em) {
  .marketing-site-content-section .marketing-site-content-section-img {
    -webkit-flex: 1 0 50%;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }
}

.marketing-site-content-section .marketing-site-content-section-block {
  padding: 1rem;
  -webkit-flex: 1 0 100%;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
          align-self: stretch;
  background: white;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (min-width: 40em) {
  .marketing-site-content-section .marketing-site-content-section-block {
    -webkit-flex: 1 0 50%;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
    padding: 2rem 3.5rem;
  }
}

.marketing-site-content-section-block-header {
  font-size: 24px;
}

.marketing-site-content-section-block-subheader {
  font-size: 13px;
}


