/* menu móbile */
.off-canvas {
    background: black;
}
.off-canvas .menu {
    margin-top: 0;
}

    .off-canvas .menu >li {
        border-bottom: 1px solid rgba(255,255,255,0.2);
    }

    .off-canvas .redes li {
       border: 0;
    }

    .off-canvas .menu a {
        color: white;
        font-size: .9rem;
        font-weight: 800;
        transition: all .4s ease;
    }

    .off-canvas .menu a:hover {
        opacity: .5;
    }

    .off-canvas .menu .nested {
        margin-left: 1rem;
        margin-bottom: 1rem;
    }

    .off-canvas .menu .nested li{
        border: 0;
    }

    .off-canvas .menu .nested a {
        font-weight: 600;
        padding: .4rem 1rem;
    }

        .off-canvas .menu a i {
            color: var(--sec);
            font-size: 1.3rem;
            font-weight: normal;
        }

        .off-canvas .menu a.active {
            background: rgba(255,255,255,0.2);
        }

            .off-canvas .vertical a i {
                font-size: 1rem;
                vertical-align: text-top;
                margin-right: .5rem;
                opacity: .7;
            }

            .off-canvas .vertical a.active i {
                opacity: 1;
            }


header {
    background-color: black;
    font-family: var(--body);
    top: 0;
    position: fixed;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    transition: all .6s ease;
    z-index: 3;
}

    header .grid-x {
        max-width: 75rem;
        margin: auto;
    }

    .nav-top { 
        -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.0);
        -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.0);
        box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.0);
    }

    .nav-move {
        background: black;
        max-width: 100%;
        -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
        box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
    }

    @media (min-width:768px){
        .nav-move {
            background: rgba(255,255,255,1);
        }
    }


@media (min-width: 768px) {
    header {
        padding: 1rem ;
        background: white;
    } 
}


header .logo-radio-tsinaka {
    width: 103px;
    margin: auto;
    display: none;
}

    @media (min-width: 768px) {
        header .logo-radio-tsinaka {
            display: block;
            margin: 0 1rem;
        }    
    }

 /* herramientas versión escritorio */

    header .menu-all-tools-desktop {
        display: none;
    }

    @media (min-width:768px) {
        header .menu-all-tools-desktop {
            display: initial;
        }
    }

    /* versiones */
    header .tools-desktop .version-web-desktop a {
        color: black;
        font-family: var(--btn);
        font-size: .8rem;
        margin: 0;
        padding: .2rem 0;
    }

        header .tools-desktop .version-web-desktop a i {
            color: white;
        }

        header .tools-desktop .version-web-desktop a.active {
            font-weight: 800;
        }

        header .tools-desktop .version-web-desktop a.active i {
            color: var(--sec);
        }

        /* veriones */
        header .tools-desktop .version-web-desktop a {
            color: black;
            font-family: var(--btn);
            font-size: 1rem;
            margin: 0;
            padding: .2rem 0;
            transition: all .4s ease;
            position: relative;
        }


        header .tools-desktop .version-web-desktop a:hover {
           opacity: .5;

        }
    
            header .tools-desktop .version-web-desktop a i {
                color: white;
            }
    
            header .tools-desktop .version-web-desktop a.active {
                font-weight: 800;
            }
    
            header .tools-desktop .version-web-desktop a.active i {
                color: var(--sec);
            }
        
            /* btn radio en vivo desktop */
            header .btn-live {
                cursor: pointer;
                width: 100%;
                transition: all .4s ease;

            }

            header .btn-live:hover {
               opacity: .5;
            }

            header .btn-live .btn-live-content {
                width: 200px;
                margin: 0 2.5rem;
                border-radius: .7rem;
                overflow: hidden;
            }

            header .btn-live .btn-live-content :nth-child(1).btn-live_item {
                width: 70%;
                text-align: left;
                padding: .5rem;
            }

            header .btn-live .btn-live-content :nth-child(1).btn-live_item h3 {
                font-size: 1.2rem;
                font-weight: 800;
                line-height: 1.2rem;
                margin-left: 1.2rem;
            }

            header .btn-live .btn-live-content :nth-child(2).btn-live_item {
                width: 30%;
                background: var(--sec);
                color: white;
                font-size: 2rem;
                text-align: center;
                padding-top: 0;
            }

            /* menú de redes sociales */
            header .menu-contact-redes a {
                color: black;
                transition: all .4s ease;
            }

            header .menu-contact-redes a:hover {
               opacity: .5;

            }

                header .menu-contact-redes .menu-contact_icons a {
                    padding: 0 .5rem;
                }

                header .menu-contact-redes .menu-contact_icons i {
                    font-size: 1.5rem;
                }

                header .menu-contact-redes .menu-contact_icons .link-wp {
                    color: #00bfa5 ;
                }

                header .menu-contact-redes .link-tel {
                    font-weight: bold;
                    font-size: .9rem;
                    margin-right: 0;
                }
            
                /* Menú escritotio  */
                header .menu-desktop-lg {
                    font-size: .7rem;
                    font-weight: 400;
                }

                header .menu-desktop-lg >li:last-child {
                    background-color: black;
                    margin-left: .5rem;
                }

                header .menu-desktop-lg >li:last-child a {
                    color: var(--sec);
                }

                    header .menu-desktop-lg >li:last-child a i {
                        color: white;
                    }


                @media (min-width:992px) {
                    header .menu-desktop-lg {
                        font-size: .9rem;
                        margin-top: .5rem;
                    }  
                }


                @media (min-width:1200px) {
                    header .menu-desktop-lg {
                        font-size: 1rem;
                    }  
                }

                    header .menu-desktop-lg a {
                        color: black;
                        position: relative;
                        transition: all .4s ease;
        
                    }
                    .dropdown.menu>li>a {
                        padding: .7rem 1.4rem;
                    }

                    header .menu-desktop-lg a:hover {
                       opacity: .5;
        
                    }

                    header .menu-desktop-lg a.active {
                       font-weight: 800;
        
                    }

                    header .menu-desktop-lg a.active:hover {
                        cursor: default;
                        opacity: 1;
         
                     }

                    header .menu-desktop-lg a.active::after{
                        content: '';
                       
                        position: absolute;
                        width: 3rem;
                        height: .3rem;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        margin: auto;
         
                     }

                     /* submenú */
                    header .dropdown.menu>li.is-dropdown-submenu-parent>a::after {
                        border-color: var(--sec) transparent transparent;
                    }
                    header .dropdown.menu>li.is-active>a {
                        color: black;
                    }
                    

                    header .is-dropdown-submenu {
                        background: black;
                        border: 0;
                    }
                        header .dropdown .is-dropdown-submenu a {
                            color: white;
                            font-size: .9rem;
                            padding: 1rem 1rem;
                            font-weight: 600;;
                        }

                        header .is-dropdown-submenu li {
                            border-bottom: 1px solid white;
                        }

                        header .is-dropdown-submenu li:last-child {
                            border-bottom: 0px solid white;
                        }



.version-web {
    /* background-color: var(--fou); */
    display: flex;
    font-size: .8rem;
    padding: 1.3rem;
    text-transform: uppercase;
    justify-content: flex-end;
}
.version-web .fa-search {
    font-size: 1.3rem;
    margin-left: 1.5rem;
}

@media(min-width:768px){
    .version-web {
      display: none;
    }
  }

.version-web i {
    color: white;
}

.version-web p, .version-web a {
    padding: 0 .3rem;
}
.version-web p {
    margin-bottom: 0;
}

.version-web a {
    color: white;
    font-weight: 800;
}
    .version-web a.active {
        color: white;
        font-weight: bold;
    }


    .dropdown-pane {
        position: absolute;
        z-index: 10;
        display: none;
        width: 400px;
        padding: 1rem 1rem .2rem;
        background-color: black;
        visibility: hidden;
        border: none;
        border-radius: 0;
        font-size: .9rem;
        box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.8)
    }
        .dropdown-pane i {
            position: absolute;
            right: 6px;
            top: 3px;
            cursor: pointer;
        }

        .dropdown-pane input {
            background-color: transparent;
            color: white;
        }

        .dropdown-pane input[type=text]:focus {
            background-color: transparent;
        }


		.dropdown-pane input[type=submit] {
           height: 40px;
        }

     @media (max-width:768px) {
        .dropdown-pane {
            width: 80%;
        } 
     }   

     .breadcrumbs-content {
        max-width: 321px;
        margin: 5rem auto 0;
    }

    @media (min-width:768px) {
        .breadcrumbs-content {
            max-width: 74rem;
            margin: 11rem auto 0;
            padding: 0 0 0 2rem;
        }
    }

    .breadcrumbs a {
        color: var(--sec);
    }

    .breadcrumbs li {
        font-size: .9rem;
    }