/* Hoja de estilos para el blog y la seeción del blog en el inicio
1- Extracto de nota
    1.1 Contenedor de notas
    1.2- Carrusel

/* 1- Extrácto de nota */
.multimedia-home {
    display: flex; 
    flex-direction: column;
    max-width: 360px;
    margin: auto;
    padding: 0 1rem;
 }

    @media (min-width: 640px) {
            .multimedia-home {
                max-width: 75rem;
            }
        }

 .multimedia-home .title-section-img img {
    width: 80px;
}

@media (min-width: 768px) {

    .multimedia-home .title-section-img img {
        width: 120px;
    }
}

.multimedia-home .content-video {
    position: relative;
}

.multimedia-home .content-video iframe {
    width: 100%;
    height: 180px;
}

    @media (min-width: 768px) {
        .multimedia-home .content-video  iframe {
            height: 440px;
        }
    }



.multimedia-home .content-video .btn-link-all {
    top: 1rem;
    right: 0;
}


    /* 1.3- Contenedor de texto*/
    .multimedia-home .content-text.-news {
        margin-bottom: 1rem;
        display: block;
        padding: .5rem 0 2rem;
        position: relative;
    } 


        @media (min-width: 1024px) {
            .multimedia-home .content-text.-news {
                padding: 1rem .5rem;
                vertical-align: top;
            } 
        }

    /* 1.4- Título de nota*/
    .multimedia-home .content-text.-news .title.-news{
        font-size: 1rem;
        letter-spacing: -.04rem;
        font-weight: 700;
        cursor: pointer;
    } 


    .multimedia-home .content-text.-news .title.-news:hover {
        text-decoration: underline;
    }

        @media (min-width: 1024px) {
            .multimedia-home .content-text.-news .title.-news  {
                font-size: 1.2rem;
                letter-spacing: -.04rem;
                text-decoration: underline;
            }
        }
.blog-post .content-video.-in {
    position: relative;
}

.blog-post .content-video.-in iframe {
    width: 100%;
    height: 180px;
}

    @media (min-width: 768px) {
       .blog-post .content-video.-in iframe {
            height: 440px;
        }
    }
        
.video-home .video-small:first-child{
    display: none;
}