/* Hoja de estilos para el blog y la seeción del blog en el inicio
1- Extracto de nota
    1.1 Contenedor de notas
    1.2- Carrusel
    1.4- Título del programa
    1.5- Botón nota completa

2- Detalle de la nota
    1.1- Imagen
    1.2- Pié de imagen
    1.3- Contenedor de texto
    1.4- Título de l nota
    1.5- Botón nota completa */


/* 1- Extrácto de nota */
.programas-home {
   display: flex; 
   flex-direction: column;
   padding: 0 1rem;
}

/* 1.2- Carrusel */
.programas-home .owl-carousel {
    margin: auto;
    max-width: 360px;
}

/* título de sección */
.programas-tsinaka_item {
    margin: 0 auto 2rem;
    max-width: 360px;
    position: relative;
    width: 100%;
}

@media (min-width: 768px) {
    .programas-tsinaka_item {
        margin: 0 auto 2rem;
        max-width: 75rem;
        position: relative;
        width: 100%;
    }

    .programas-home .owl-carousel {
        margin: auto;
        max-width: 75rem;
    }
}

.programas-home .owl-carousel .item {
    background-size: cover;
    background-position: center bottom;
    height: 300px;
    position: relative;
    cursor: pointer;
    transition: all .4s ease;
}

.programas-home .owl-carousel .item small {
    position: absolute;
	color: white;
	text-transform: uppercase;
     background-color: var(--sec);
    top: 0;
    padding: 0.3rem 1rem;
   
}

    .programas-home .owl-carousel .item:hover {
        -webkit-box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.862);
            -moz-box-shadow: 0px 1px 12px 0px rgba(0,0,0, 0.862);
            box-shadow: 0px 1px 12px 0px rgba(0,0,0, 0.862);
    }

    .programas-home .owl-carousel .item figure {
        height: 230px;
        background-size: cover;
        background-position: center;
    }

    @media (min-width: 520px) {

        .programas-home .owl-carousel .item {
            height: 340px;
        } 
    } 
    
        @media (min-width: 768px) {
            .programas-home .owl-carousel .item {
                height: 460px;
            }   
    }


    /* controles de  carrusel */
    .programas-home  .owl-carousel .owl-nav {
        display: inherit;
        text-align: center;
        margin: 2rem 0 0;
    }

    @media (min-width: 1024px) {
        .programas-home  .owl-carousel .owl-nav {
            position:  absolute;
            width: 100%;
            top: 36%;
        }
    }

    .programas-home  .owl-carousel .owl-nav span {
        display: none;
        }

        .programas-home .owl-carousel .owl-nav .owl-prev,
        .programas-home .owl-carousel .owl-nav .owl-next {
           width: 2rem;
           height: 2rem;
           border-radius: 50%;
           background-color: var(--sec);
           margin: 0 .5rem;
           transition: all .4s ease;
           background-image: url(../../assets/img/multimedia-option.png);
           background-position: center;
           background-size: 1rem;
           background-repeat: no-repeat;
           -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.81);
           -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.81);
           box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.81);

        }

        .programas-home .owl-carousel .owl-nav .owl-next {
            transform: rotate(180deg);
        }

        @media (min-width: 1024px) { 
            .programas-home .owl-carousel .owl-nav .owl-prev,
            .programas-home .owl-carousel .owl-nav .owl-next {
                background-size: 1.3rem;
                position: absolute;
                border-radius: 0;
                height: 4rem;
            }
            .programas-home .owl-carousel .owl-nav .owl-next {
                right: -1.2rem;
            }  
            .programas-home .owl-carousel .owl-nav .owl-prev {
                left: -1.2rem;
            }  
        }

        .programas-home  .owl-carousel .owl-prev:hover,
        .programas-home  .owl-carousel .owl-next:hover {
            opacity: .5;
        }

/* 1.2.1- Carrusel texto*/
.programas-home .owl-carousel .item .content-text {
   padding: 1rem;
   max-width: 100%;
   background-color: black;
   position: absolute;
   bottom: 0;
}

    @media (min-width: 768px) {
        .programas-home .owl-carousel .item .content-text {
            padding: 2rem 2rem;
            max-width: 100%;
        }   
    }

        @media (min-width: 1024px) {
            .programas-home .owl-carousel .item .content-text {
                padding: 2rem 2rem;
                min-height: 253px;
            }   
        }

    .programas-home .owl-carousel .item .content-text .category {
        font-size: .6rem;
        font-weight: 900;
        color: white;
        display: block;
        line-height: .8rem;
    }

    @media (min-width: 768px) {
        .programas-home .owl-carousel .item .content-text .category {
            font-size: .8rem;
			margin-bottom: .2rem;
        }  
    }

    .programas-home .owl-carousel .item .content-text .title {
        color: white;
        font-size: 1rem;
        line-height: 1rem;
        font-weight: 700;
    }

        @media (min-width: 768px) {
            .programas-home .owl-carousel .item .content-text .title {

                font-size: 1.5rem;
                line-height: 1.3rem;
            } 
        }



    .programas-home .owl-carousel .item .content-text .dates-time {
        color: white;
        font-size: .8rem;
        line-height: 1rem; 
    } 
    
        @media (min-width: 768px) {
            .programas-home .owl-carousel .item .content-text .dates-time {
                font-size: .9rem;
            } 
        }

            @media (min-width: 768px) {
                .programas-home .owl-carousel .item .content-text .dates-time {
                    font-size: 1rem;
                    line-height: 1.2rem; 
                } 
            }

    /* 1.5- Botón nota completa*/
    .programas-home .btn {
        background-color: var(--sec);
        width: 1.7rem;
        height: 1.7rem;
        right: 0;
        bottom: 0;
        position: absolute;
        text-align: center;
    }

    .programas-home .btn a {
        height: 1.7rem;
        width: 1.7rem;
        display: block;
        padding-top: .1rem;
        transition: all .4s ease;
    }

        .programas-home .btn a:hover {
            opacity: .5;
        }

        .programas-home .btn i {
            color: white;
        }
