/* Hoja de estilos para atibutos de textos en general.content-text
1- Fechas, pies de pagina.
2- Título.
3- Descriptivo o parrafo.
4- Links.
5- Subtítulos.
6- Imágenes dentro de los textos.
7- texto resaltados.
*/
 
    /* 1- Fechas, pies de pagina. */
    .content-text .date {
        font-family: var(--btns);
        font-size: .9rem;
        color: black;
    }

    .date {
        font-size: .8rem;
        color: black;
    }

    .content-text.-in {
        position: relative;
        padding: .5rem 0;
    }

    /* 2- Título. */
    .content-text .title {
        font-weight: 400;
    }

    .content-text .title.-bold {
        font-weight: 700;
        font-size: 1.7rem;
        letter-spacing: -.8px;
    }


    .content-text.-in .title {
        font-weight: 700;
        font-size: 1.1rem;
        letter-spacing: -.8px;
        line-height: 1.3rem;
        /* padding-right: 7rem; */
    }
        @media (min-width: 620px) {
            .content-text.-in .title {
                font-size: 1.4rem;
                letter-spacing: -.8px;
                line-height: 1.6rem;
                /* padding-right: 5rem; */
            }
        }

        .content-text.-in .title.-lg {
            font-weight: 700;
            font-size: 1.1rem;
            line-height: 1.4rem;
            padding-right: 2rem;
        }
            @media (min-width: 620px) {
                .content-text.-in .title.-lg  {
                    font-size: 2rem;
    
                    line-height: 2.3rem;
                    padding-right: 9rem;
                }
            }

    /* 3- Descriptivo o parrafo. */
    .content-text p {
        color: black;
        line-height: 1rem;
        font-family: var(--body);
        font-size: .7rem;
        margin-bottom: 0;
    }

        @media (min-width: 620px) {
            .content-text p {
                line-height: 1.2rem;
                font-size: .8rem;
            }
        }
    
            @media (min-width: 768px) {
                .content-text p {
                    line-height: 1.5rem;
                    font-size: 1rem;
                }
            }

    .content-text p {
        color: black;
        line-height: 1.2rem;
        font-family: var(--body);
        font-size: .9rem;
        margin-bottom: 0;
    }

        @media (min-width: 620px) {
            .content-text p {
                line-height: 1.2rem;
                font-size: .8rem;
            }
        }
    
            @media (min-width: 768px) {
                .content-text p {
                    line-height: 1.5rem;
                    font-size: 1rem;
                }
            }

    .content-text p.descript {
        color: grey;
        line-height: 1.33rem;
        font-family: var(--body);
        font-size: .85rem;
        margin: 0 auto 1rem;
    }

        @media (min-width: 620px) {
            .content-text p.descript {
                line-height: 1.2rem;
                font-size: .8rem;
                margin-bottom: 1rem;
            }
        }
    
            @media (min-width: 768px) {
                .content-text p.descript {
                    line-height: 1.9rem;
                    font-size: 1.1rem;
                    margin-bottom: 2.5rem;
                }
            }
      .content-text.-in p {
        color: grey;
        line-height: 1.33rem;
        font-family: var(--body);
        font-size: .85rem;
		  font-weight: 500;
    }

        @media (min-width: 620px) {
             .content-text.-in p {
                line-height: 1.2rem;
                font-size: .8rem;
            }
        }
    
            @media (min-width: 768px) {
                 .content-text.-in p {
                    line-height: 1.3rem;
                    font-size: .9rem;
                    
                }
            }
    
            
    /* 3- Links. */
    .content-text a {
        color: var(--sec);
        text-decoration: underline;
        transition: all .4s ease;
    }

        .content-text a:hover {
            opacity: .4;
        }

        .content-text a.btn-text {
            font-size: .9rem;
            text-decoration: none;
            color: white;
            margin: .5rem 0 1rem;
            display: block;
            font-weight: 600;
            background-color: var(--sec);
            border-radius: .4rem;
            padding: .5rem 2rem;
            display: inline-block;
        }

        @media (min-width:768px) {
            .content-text a.btn-text { 
                margin: 1rem 0 0;
                padding: .5rem 2rem;
            }
        }

        .content-text a.btn-text-black {
            font-size: .9rem;
            text-decoration: none;
            color: white;
            margin: 1rem 0;
            display: block;
            font-weight: 600;
            background-color: black;
            border-radius: .4rem;
            padding: .5rem 2rem;
            display: inline-block;
        }

    /* 4- Subítulo. */
    .content-text .subtitle {
        color: var(--main);
        font-weight: normal;
    }

    /* 5- Imágenes dentro del texto. */
    .content-text img {
        display: block;
        width: 80%;
        margin:1rem auto 0;
    }

        .content-text caption {
            color: black;
            font-family: var(--btns);
            font-size: .85rem;
        }

        .content-text.-news img {
            display: block;
            width: 70%;
            margin: 1rem 0  0;
            background: transparent;
            padding: 0;
        }

    @media (min-width: 768px) {
          .content-text.-news img {
            width: 50%;
     
        }
    }


    .content-text.-news audio {
        margin: 1rem 0 2rem;
        width: 100%;
    }

    .content-text.-news h5 {
        text-align: center;
        padding: 1rem 1rem 1.5rem  !important;
        background: #000000;
        color: white;
        margin: 1rem 0 2rem ;
        font-size: 1rem !important;
    }

    .content-text.-aside {
       padding: 0 !important;
    }

   .callout {
        background-color: transparent;
        margin: 0;
        padding: 0;
        border: 0;
    }

    .callout li {
        display: contents;
        margin-right: 1rem;
    }

   .callout a {
        color :black;
        font-size: .9rem;
        text-decoration: underline;
        margin: 0 .5rem;

    }

    /* 6- Texto resaltado */
    .content-text img {
        background-color: var(--fou);
        font-family: var(--title);
        font-size: 1.3rem;
        color: black;
        padding: 2rem 1rem;
    }

    a {
        font-family: var(--body);
    }


    
    .eyecatcher-in .content-text .subtitle-category {
        font-size: .9rem;
        font-weight: 400;
    }

    @media (min-width: 768px) {
        .eyecatcher-in .content-text .subtitle-category {
            font-size: 1rem;
        }
    }

    .eyecatcher-in .content-text .title_int {
        font-size: 2rem;
        line-height: 2rem;
        font-weight: 800;
    }

        @media (min-width: 768px) {
            .eyecatcher-in .content-text .title_int {
                font-size: 3rem;
                line-height: 3rem;
            }
        }

            @media (min-width: 768px) {
                .eyecatcher-in .content-text .title_int {
                    font-size: 4rem;
                    line-height: 4rem;
                    letter-spacing: -2px;
                }
            }
.bold {
    font-weight: 700 !important;
}

.post-categories {
    display: inline-block;
    font-weight: 700;
    margin: 0;
    list-style: none;
}

.post-categories a {
    text-decoration: none;
}