/*
Hoja de estilos para herramientas de radio en versión mobil
1- Contenedor de las herramientas.
2- Botón activador para ventana de tadio en vivo versión mobil.
3- Botón activador para menu.
*/

/* 1- Contenedor de las herramientas */
.tools-mobile {
  -webkit-box-shadow: 1px 0px 6px 0px rgba(0,0,0,0.71);
  -moz-box-shadow: 1px 0px 6px 0px rgba(0,0,0,0.71);
  box-shadow: 1px 0px 6px 0px rgba(0,0,0,0.71);
  bottom: 0;
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 3;
}

@media(min-width:768px){
  .tools-mobile {
    display: none;
  }
}

/* 2- Botón acti... */
.btn-live {
  width: 100%;
}

  .btn-live .btn-live-content {
    display: flex;
  }

    .btn-live .btn-live-content :nth-child(1).btn-live_item {
      background: black;
      background-size: cover;
      color: white;
      padding: .9rem 0 0.3rem;
      text-align: center;
      width: 70%;
		position: relative;
    }

.btn-live .btn-live-content :nth-child(1).btn-live_item i {
    position: absolute;
    left: 3rem;
    font-size: 2rem;
    top: 0.7rem;
    color: #4926bd;
}



    @media (min-width:768px){
      .btn-live .btn-live-content :nth-child(1).btn-live_item {
        background: url(../../assets/img/bg-greca.jpg);
      }
    }

    .btn-live .btn-live-content h3 {
      font-size: .9rem;
      margin-bottom: 0;
      line-height: 1rem;
      margin-left: 2rem;
    }

	.btn-live .btn-live-content h3 i {
		 font-size: 1.7rem;
		margin-left: .5rem;
    	 vertical-align: sub;
	}

    .btn-live .btn-live-content :nth-child(2).btn-live_item {
      width: 30%;
    background :#00ff7e;
    color: white;
    font-size: 2rem;
    text-align: center;
    padding-top: .3rem;
  }



/* 3- Botón activador para menu */
.btn-menu-mobile {
  cursor: pointer;
  font-size: 1.7rem;
  padding: .25rem 0 ;
  text-align: center;
  margin-top: .5rem;
}

.btn-menu-mobile:hover i {
  opacity: .5;
}

.btn-menu-mobile  i {
  color: white;
}
.btn-menu-mobile small {
  line-height: 1px;
  font-size: .5rem;
  display: block;
}

@media (min-width: 768px) {
  .btn-menu-mobile {
    display: none;
  }
}

.version-web-desktop small {
  vertical-align: top;
  font-size: 1rem;
}

.qtranxs_language_chooser {
  display: inline-block;
  margin: 0;
  padding-left: 1rem;
}

  .qtranxs_language_chooser li {
    display: inline;
  }

  @media (min-width: 768px) {
    .qtranxs_language_chooser li {
      display: block;
    }
  }


  .qtranxs_language_chooser .active>a {
    background: var(--sec);
    border-radius: .3rem;
    font-weight: 700;
    cursor: default;
    padding: .5rem 1.2rem;
    margin: 0 .5rem;
  }


  @media (min-width: 768px) {
    .qtranxs_language_chooser .active>a  {
      background: transparent;
    }

    .qtranxs_language_chooser .active>a::after {
      content: '';
      background-color: var(--main);
      width: .6rem;
      height: .6rem;
      border-radius: 50%;
      position: absolute;
      left: -.8rem;
      top: .35rem;

   }
  }

    .qtranxs_language_chooser .active>a:hover {
      opacity: 1 !important;
    }
