:root {
	font-size: 16px;
  --main: #1779ba;
  --sec: #4926bd;
  --ter: #f1f1f1;
  --fou: #dfdce8;
  --alert: #f6c727;

 
  --title: 'Open Sans', sans-serif;
  --body: 'Open Sans', sans-serif;
  --btns: 'Roboto', sans-serif;
}


.bg-main {
  background-color: var(--main) !important;
}

.bg-main-lg {
  background-color: transparent ;
}

  @media(min-width:768px){
    .bg-main-lg {
      background-color: var(--main) ;
    }
    
  }

.bg-black {
  background-color: black !important;
}

.bg-black-lg {
  background-color: transparent ;
}

  @media(min-width:768px){
    .bg-black-lg {
      background-color:  black;
    }
  }


.c-main {
  color: var(--main) !important;
}

.c-sec {
  color: var(--sec) !important;
}

.bg-white {
  background-color: white !important;
}

.c-white {
  color: white !important;
}

.bg-ter {
  background-color: var(--ter);
}

.bg-fou {
  background-color: var(--fou);
}
